@import"./variables";
.div_img {
    max-width: 100%;
    height: auto;
    width: 300px;
    padding: 0;
    margin: $default-margin;
    border: 5px solid $text-color;
  }
  
  .product {
    text-align: center;
    padding: $default-padding;
    margin: 0.5rem;
    font-weight: bold;
    background-color: $secondary-bg-color !important;
    text-decoration: underline;
  }