// Variables
$primary-bg-color: rgb(231, 211, 169);
$secondary-bg-color: rgb(199, 167, 138);
$accent-color: rgba(280, 128, 114, 0.23);
$text-color: black;
$font-family: "friendinfo";
$border-color: rgba(0, 0, 0, 0.349);
$border-width: 1rem;
$default-padding: 0.7rem;
$default-margin: 1rem;