

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background-color: $primary-bg-color ;
    flex-direction: column;
    margin: 0;;
}
main {
    flex: 1;
  }
  .intro-inicio {
    padding: $default-padding;
    font-size: 1.7rem;
    text-align: center;
    margin: $default-margin;
    background-color: beige;
    font-weight: bold;
  }
  .p-inicio {
    color: $text-color;
    font-weight: bold;
    font-size: 1.3rem;
    margin: $default-margin;
    text-align: justify;
    text-align: center;
  }