
.navbar {
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT_RYoJpiV4_WewTikm-DGScDHOFGXssso2KACC8Wov--YRifu9) !important;
  }
  
  .nav-item {
    background-color: rgba(255, 128, 114, 0.23);
    margin: 0.5rem;
    border-radius: 50%;
    border: solid $border-color;
  }
  
  
  .nav-link, .preguntas {
    color: $text-color;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1.5rem;
    padding: $default-padding;
    margin: 0.6rem;
    text-align: center;
  }